body {
  background-color: dodgerblue;
  text-align: center;
}

.battle-area {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: space-around;
}

.battle-area img {
  width: 30%;
  height: auto;
}

.attack {
  background-color: red;
}

#result {
  width: 10em;
  height: auto;
  margin: 0;
  padding: 0;
}
