body {
  background-color: dodgerblue;
  text-align: center;
}

.battle-area {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: space-around;
}

.battle-area img {
  width: 30%;
  height: 30%;
}

.battle-area h1 {
  font-size: 5vh;
}

.attack {
  background-color: firebrick;
  color: dodgerblue;
  border: 0.5em groove red;
  border-radius: 2em;
}

.attack:disabled {
  animation-name: attacking;
  animation-duration: 500ms;
  background-color: black;
}

@keyframes attacking {
  from {
    background-color: firebrick;
  }
  to {
    background-color: black;
  }
}

#result {
  width: 10em;
  height: auto;
  margin: 0;
  padding: 0;
}
